@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");

.App {
  font-family: sans-serif;
  text-align: center;
  max-width: 600px;
  margin: auto;
  padding: 2rem;
}

body {
  font-family: "Lato", sans-serif;
  background-color: #efefef;
  text-align: center;
  font-size: larger;
}

input {
  width: 60%;
}

span {
  padding-left: 1rem;
  font-size: larger;
}

.discription {
  margin: 1rem;
}
